.sort{
    display: flex;position: relative;height:35px;background: #fff;z-index:200;
    align-items: center;box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
    >span{
        flex:1;text-align: center;
        b{
            font-weight: normal;
        }
        i{
           font-size:12px; 
        }
    }
    .active{
        color:#ea3667;
        i{-webkit-transform: rotateX(180deg);}
    }
    .order{
        position: absolute;background: #fff;z-index:100;
        top:35px;left:0;width:100%;padding:0 24px;
        p{
            line-height: 43px;position: relative;
            display: flex;justify-content: space-between;
            border-top:1px solid #f5f5f5;
        }
        .sortCheck{
            color:#ff2661;
        }
        .sortCheck::after{
            content:'√';font-size: 18px;
            position: absolute;
            right:14px;top:0;
        }
    }
    .calendar{
        width: 100%; border: '1px solid #d9d9d9';background: #fff;
        border-radius: 4px;position: absolute;top:35px;z-index:100;
    }
}
