.time_btn{
    color:#000;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 68px;
    height:24px;
    font-size:14px;
    display: inline-block;
    border-radius: 5px 5px;
}
